.landingContainer {
  height: calc(100vh * 9 / 15);
  min-height: 500px;
  width: calc(100vw * 9 / 10);
  background-color: $shadeLight;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.landingText,
.landingImage {
  width: 50%;
}
.landingImage {
  height: calc(100vh * 9 / 15);
  min-height: 500px;
  background-image: url("../assets/geopattern.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.landingText {
  padding: 50px;
  box-sizing: content-box;
}
h2 {
  font-family: $fontHead;
  letter-spacing: 1.5px;
  font-size: 2.7rem;
}
p {
  line-height: 1.5rem;
}
.landingText h2:nth-child(2) {
  padding-bottom: 10px;
}
.landingText p:nth-child(3) {
  padding-bottom: 25px;
}
.landingButtons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.landingButtons h3 {
  color: $primary1;
}
.landingButtons i {
  padding: 0 15px 0 30px;
}
//media queries
@media (max-width: 1200px) {
  .landingButtons {
    flex-direction: column;
  }
  .landingButtons i {
    padding: 40px 10px 0 0;
  }
}
@media (max-width: 960px) {
  h2 {
    font-size: 2.2rem;
  }
}
@media (max-width: 800px) {
  h2 {
    font-size: 1.7rem;
  }
  .landingText {
    width: 65%;
  }
  .landingImage {
    width: 35%;
  }
}
@media (max-width: 480px) {
  h2 {
    font-size: 1.7rem;
  }
  .landingContainer {
    flex-direction: column-reverse;
  }

  .landingImage {
    display: none;
  }
  .landingText {
    padding: 0;
    width: 100%;
  }
  .landingText h2,
  .landingText p {
    padding: 0 30px;
  }
}
@media (max-width: 360px) {
  .landingContainer {
    height: calc(100vh * 9 / 13);
  }
}
