nav {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 70px;
}

nav div:first-child {
  font-family: $fontHead;
  font-size: 1.1rem;
}

nav div p {
  display: inline;
  font-size: 1rem;
  padding-right: 50px;
}
// media queries
@media (max-width: 800px) {
  nav button {
    display: none;
  }
}
@media (max-width: 480px) {
  nav {
    padding-bottom: 40px;
  }
  nav div p {
    visibility: hidden;
  }
}
