@import "setup";
@import "nav";
@import "landing";

@font-face {
  font-family: Neuville-Bold;
  src: url("../../assets/fonts/Neuville-Bold.ttf");
}
@font-face {
  font-family: Neuville-Light;
  src: url("../../assets/fonts/Neuville-Light.ttf");
}
